/*
  Theme Name: BizPage
  Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
  Author: BootstrapMade.com
  License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #48bdc5;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #48bdc5;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #48bdc5;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #48bdc5;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* PK CSS */
.bootstrap-datetimepicker-widget{
    line-height: 1;
    font-size: 12px;
}
#success_message{display: none;position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
}
div#placeYourRequestFormID_btn {
    color: red;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 15px;
	cursor:pointer;
}
.btn:focus{
	box-shadow: none;
    outline: 0;
    color: #fff;
}
.sucess_message{display:table;width:100%; height:100%;}
.sucess_message_cell{display:table-cell;vertical-align: middle;padding:15px;}
label.error{color:red;    font-size: 13px!important;}
.cardBox-body h5{color:#48bdc5; font-size:16px;margin:10px 0 5px;}
.cardBox-body p{color:#000; font-size:14px;}
.boxToolLeft{opacity:0;position: fixed;z-index:999;right:60px;bottom:0;transform: translateY(100%);transition: all 0.3s linear 0s;}
.boxToolLeft.active{opacity:1;transform: translateY(0);}
.closeTool {
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    color: red;
    font-weight: bold;
    cursor: pointer;
	line-height:1;
	text-shadow: 0 1px 0 red;
}
#get_theapp_download .modal-content{background: url(../img/mobile-app-download-1.jpg) no-repeat center top/cover;border:0;border-radius:0;}
#get_theapp_download .modal-header, #get_theapp_download .modal-body{z-index:1;}
#get_theapp_download .close{color:red;text-shadow: 0 1px 0 red;opacity:1;}
#get_theapp_download .modal-content:before{    content: "";
    background: rgba(0,0,0,0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;}
.covid19Table{display: table;width: 100%;}
.covid_update table th{font-size:12px;}
.covid_update table td{font-size:12px;font-weight: 600;}
.tableWidth{width:100%;text-align: right;}
.tableWidth tr td{font-size:10px;}
.covid19 {
    z-index: 9;
    background: #2d2d32;
    padding: 20px 15px 5px 15px;
    border-radius: 10px 10px 0 0;
    text-transform: uppercase;
    text-align: center;
	display: block;
}
.divCell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.covid19 img {
    display: inline-block;
    width: 48px;
    margin: 0 10px;
}
.covid19text h5 {
    color: #fff;
    line-height: 1;
	margin-bottom:5px;
}
.covid19text p{
	margin-bottom:0;
}
.bounceImg {animation-name:bounce;animation-timing-function: ease; animation-duration: 2s;animation-iteration-count: infinite;}
@keyframes bounce {
0%   { transform: scale(1,1)    translateY(0); }
10%  { transform: scale(1.1,.9) translateY(0); }
30%  { transform: scale(.9,1.1) translateY(-20px); }
50%  { transform: scale(1,1)    translateY(0); }
100% { transform: scale(1,1)    translateY(0); }
}

#mainFormSMS{display: block;width:100%;margin:0 0 20px;}
#mainFormSMS .inputSms{display: inline-block;}
#mainFormSMS .cc-picker-code-select-enabled{display: inline-block;    background: #fff;padding: 10px;    vertical-align: top}
#mainFormSMS .phone-field{display: inline-block;background: #fff;border: 0;padding: 10px;font-size: 12px;    vertical-align: top;width: 250px;
    max-width: 100%;}
#mainFormSMS .cc-picker-code-filter, #mainFormSMS .cc-picker-code-list{z-index:5;}
#mainFormSMS .cc-picker-code-select-enabled:after{top:43%;}
#mainFormSMS .submitSmS{background: red;
    border: 0;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #fff;
    margin: 0 0 0 -4px;
    cursor: pointer;}





/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/* @-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.objblink{
-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease-in-out;
-moz-animation-direction: normal;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: ease-in-out;    
} */

@keyframes hue {
    from {
        filter: hue-rotate(0deg);
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(-360deg);
        -webkit-filter: hue-rotate(-360deg);
    }
}
.objblink{
    -webkit-font-smoothing: antialiased;
    background-image: -webkit-linear-gradient(92deg, #fff, #ff0);
    animation: hue 5s infinite linear;
    color: #fff;
	font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	line-height: 1.9;
}
#header {
  padding: 30px 0;
  height: 92px;
  /* position: fixed;
  left: 0;
  top: 0;
  right: 0; */
  transition: all 0.5s;
  z-index: 997;
}

/* #header.header-scrolled {
  background: rgba(11, 29, 45, 0.9);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
} */

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  /* letter-spacing: 3px; */
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
    padding: 5px 0 15px 50px;
  /* border-left: 4px solid #48bdc5; */
	background: url(../img/ssivix_logo.png) no-repeat center left/contain;position: relative;top: -6px;
}
#header #logo h1 a span{font-size:10px;position: absolute;
    right: 1px;
    letter-spacing: 0.85px;}
#header #logo img {
  padding: 0;
  margin: -25px 0 0;
    height: 80px;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#service-section{
	padding: 60px 0 40px 0;
}
#service-section .owl-carousel .owl-nav.disabled{
	display: block;
}	

#service-section .owl-prev, .owl-next {
	width: 15px;
	height: 100px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: block !important;
	border:0px solid black;
}
#service-section .owl-prev { left: -20px; }
#service-section  .owl-next { right: -30px; }
#service-section .owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}
#intro {
  display: table;
  width: 100%;
  height: calc(100vh - 300px);
 /*  background: #000; */
 padding:30px 30px 0;
}
button:focus{outline:0;}
.nav-menu a.listYourClinics{padding: 5px 15px;}
.placeYourRequestForm .form-control, .placeYourRequestForm label{font-size: 14px;outline:0;box-shadow: none;}
.downloadBoxImg{max-width:320px;width:100%;}
#intro .carousel-item {
  width: 100%;
  height: calc(100vh - 300px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* #intro .carousel-item::before {
  content: '';
  background-color: rgba(11, 29, 45, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
} */

#intro .carousel-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .carousel-background img {
  max-width: 100%;
}

#intro .carousel-content {
  text-align: center;
}

#intro h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 700;
}

#intro p {
  width: 80%;
  margin: 0 auto 30px auto;
  color: #fff;
}

#intro .carousel-fade {
  overflow: hidden;
}

#intro .carousel-fade .carousel-inner .carousel-item {
  transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev,
#intro .carousel-control-next {
  width: 10%;
}

#intro .carousel-control-next-icon,
#intro .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

#intro .carousel-indicators li {
  cursor: pointer;
}

#intro .btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #48bdc5;
}

#intro .btn-get-started:hover {
  background: #fff;
  color: #48bdc5;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */

#nav-menu-container {
  float: right;
  margin: 0;
}
.nav-menu-section #nav-menu-container {
  float: none;
}
.nav-menu-section{
   background: #48bdc5;
   padding: 10px 0 5px;
}
.nav-menu-section .nav-menu a{
  color: #fff;
}
/* Nav Meu Styling */

.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  outline: none;
}

.nav-menu li:hover > a,
.nav-menu > .menu-active > a {
  /* color: #48bdc5; */
  opacity: 0.8;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #48bdc5;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

/* Mobile Nav Styling */

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

#mobile-nav ul li a:hover {
  color: #48bdc5;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul li.menu-active a {
  color: #48bdc5;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #48bdc5;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: #48bdc5;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

/* Mobile Nav body classes */

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.section-header h3 {
  font-size: 24px;
  color: #111;
  /* text-transform: uppercase; */
  text-align: left;
  font-weight: 500;
  position: relative;
  padding-bottom: 15px;
}

.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  /* left: calc(50% - 60px); */
  left: 0;
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #48bdc5;
  bottom: 0;
  /* left: calc(50% - 20px); */
  left: 0;
}

.section-header p {
  text-align: center;
  padding-bottom: 30px;
  color: #333;
}


#download-app-section{padding-top:60px;padding-bottom:60px;}
#download-app-section h4{color: #000;
    font-size: 36px;}

/* Section with background
--------------------------------*/

.section-bg {
  background: #f7f7f7;
}

/* Featured Services Section
--------------------------------*/

#featured-services{
  margin-top:60px;
}
.topDealsBox{
	background-repeat:no-repeat;
	padding:15px;
	height: 300px;
	position: relative;
}
.video-call-bg{ 
    background-image:url(../img/video-call.jpg);
	background-color: #86b0c6;
    background-size: 250px;
	background-position: right bottom;
}
.tele-bg{
    background-image:url(../img/tele-consulatnts.jpg);
	background-color: #6fbdbf;
    background-size: 320px;
	background-position: right bottom;
}
.digital-bg{
    background-image:url(../img/mobile-app-dwnld.png);
	background-color: #60c69d;
    background-size: 130px;
	background-position: right bottom;
}
/* .topDealsBox:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 0;
} */

.topDealsDetails{
	position: relative;
	z-index:2;
}
.topDealsDetails h2{color: #000;
    font-size: 18px;font-weight:500;}
.bannerBg{
	background-size: contain!important;
	background-position: right bottom!important;
}
.banner-bg-1{
	/* background-color:#e03b43!important; */
	background-color:#bbb7dc!important
}
.banner-bg-2{
	background-color:#fae9e4!important;
}
.banner-bg-3{
	background-color:#f2bba8!important;
}
.container-content h3{color:#000;font-weight:500;}
#intro .carousel-container.contentLeft{text-align: left;justify-content: left;left:auto; right: auto;}
#intro .carousel-container.contentLeft p{text-align: left;color:#000;width: 100%;margin-bottom:15px;}
#intro .carousel-container.contentLeft .blackDot{width:10px; height:10px;border-radius:100%;background: #777;display: inline-block;    margin: 0 10px;}
#intro .carousel-container.contentLeft .btn-get-started{margin:0;}
/* Call To Action Section
--------------------------------*/

#call-to-action {
  background: linear-gradient(rgba(0, 142, 99, 0.1), rgba(0, 0, 0, 0.1)), url(../img/call-to-action-bg.jpg) fixed center center;
  background-size: cover;
  padding: 60px 0;
}

#call-to-action h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action p {
  color: #fff;
}

#call-to-action .cta-btn {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: #48bdc5;
  border: 2px solid #48bdc5;
}



/* Contact Section
--------------------------------*/

#contact {
  padding: 60px 0;
}

#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #48bdc5;
}

#contact .contact-info address,
#contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-info a:hover {
  color: #48bdc5;
}

#contact .contact-address,
#contact .contact-phone,
#contact .contact-email {
  margin-bottom: 20px;
}

#contact .form #sendmessage {
  color: #48bdc5;
  border: 1px solid #48bdc5;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input,
#contact .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

#contact .form button[type="submit"] {
  background: #48bdc5;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#contact .form button[type="submit"]:hover {
  background: #13a456;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #0b1d2d;
  padding: 0 0 30px 0;
  color: rgba(255,255,255,0.7);
  font-size: 14px;
}

#footer .footer-top {
  background: #0d2235;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid #48bdc5;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: rgba(255,255,255,0.7);
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #0b1d2d;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #48bdc5;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
  font-style: italic;
}

#footer .footer-top h4::before,
#footer .footer-top h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: rgba(255,255,255,0.1);
}

#footer .footer-top h4::after {
  background: #48bdc5;
  width: 60px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color: #ddd;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: rgba(255,255,255,0.7);
}

#footer .footer-top .footer-links ul a:hover {
  color: #48bdc5;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #48bdc5;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #13a456;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 768px) {
  #contact .contact-address,
  #contact .contact-phone,
  #contact .contact-email {
    padding: 20px 0;
  }

  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

@media (min-width: 992px) {
  #testimonials .testimonial-item p {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  #header #logo {
    /* padding-left: 60px; */
  }

  #intro p {
    width: 60%;
  }

  #intro .carousel-control-prev,
  #intro .carousel-control-next {
    width: 5%;
  }

  #nav-menu-container {
    /* padding-right: 60px; */
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }

  #header #logo h1 {
    font-size: 28px;
  }

  #header #logo img {
    max-height: 40px;
  }

  #intro h2 {
    font-size: 28px;
  }

  #nav-menu-container {
    display: none;
  }

  #mobile-nav-toggle {
    display: inline;
  }
}